# melvin.alvarado
# default config

SERVER_PORT = 2626
VLC_PORT = 8080
SERVER_NAME = Raspi
SERVER_LOG = /tmp/server.log

PHOTO_W = 1200
PHOTO_H = 800
VIDEO_W = 400
VIDEO_H = 300

CAMERA = True
DISPLAY = False
MOTION = True
SOUND = True
RELAY = True
SERVO = False


# Abuela Motion
ABUELA = False
ABUELA_SEND_EMAIL = False
ABUELA_EMAILS = melvin.alvarado@gmail.com,stephanie.alvarado@gmail.com,marcela.rodriguez.soto@gmail.com
ABUELA_BEEP_HOST = 192.168.0.110
ABUELA_BEEP_PORT = 2626


# Tweet Motion
TWEET_SLEEP = 1800

# Alarm
ALARM_EMAILS = melvin.alvarado@gmail.com,stephanie.alvarado@gmail.com,marcela.rodriguez.soto@gmail.com
ALARM_SEND_EMAIL = True
ALARM_ESPEAK = True


# Board Pins
PIN_PIR = 17


